body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top left, #33ccff 0%, #0033cc67 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container{
  padding: 15px;
  height: 100%;
  background-image: url('./images/Olympic_pictogram_Diving.png');
  background-position: center; 
  background-repeat: no-repeat;
 
}
.title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 60px;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 
}
.select{
  display: flex;
  /* justify-content: space-between */
  justify-content: space-around;
  margin-bottom: 20px;
  
}
.height-dive{
  width:130px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
  
}
.input-dive{
  display: block;
  margin: 0 auto;
  text-align: center;
   border-radius: 10px;
   width:130px;
 height: 35px;
 margin-bottom: 20px;
 font-size: 35px;
 opacity: 0.8;
}
.text{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #f1f1f1;
  text-shadow: 2px 2px 2px #ef1c1c;

}
.coefficient{
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.subtitel{
  margin: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.rating{
  display: flex;
  justify-content: center;
}
.input-rating{
  border-radius: 10px;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 25px;
}
.input-rating:not(:last-child){
  margin-right: 15px;
}
.score{
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.btn{
    display: block;
    margin: 0 auto;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgba(80, 32, 0, 0.219);
  border-radius: 10px;
  outline: none;
  background: rgba(147, 80, 36, 0.342) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}
.btn:active{
   background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}